<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>Historique d'achats</title>
</head>
<body>
	<header>
		<h1 layout:fragment="custom-title">Consultez ici l'historique des achats !</h1>
	</header>
	<section layout:fragment="custom-content">
		<table class="table table-dark">
			<thead>
				<tr>
					<th>Date d'achat</th>
					<th>Prix d'achat</th>
					<th>Item acheté</th>
					<th>Sopramon acheteur</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="achat : ${achats}">
					<td th:text="${ achat.date}"></td>
					<td th:text="${ achat.prix }"></td>
					<td th:text="${ achat.item.nom}"></td>
					<td th:text="${ achat.sopramon.nom}"></td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>