<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>CRUD Item</title>
</head>
<body>
	<header>
		<h1 layout:fragment="custom-title">Gerer ici les items</h1>
	</header>
	<section layout:fragment="custom-content">
		<td><a class="btn btn-secondary btn-lg"
			href="http://localhost:8080/item/create">Ajouter un
				item</a></td>
		<table class="table table-dark">


			<col>
			<col>
			<col>
			<colgroup span="5"></colgroup>
			<col>
			<thead>
				<tr>
					<th rowspan="2">ID</th>
					<th rowspan="2">Nom</th>
					<th rowspan="2">Prix</th>
					<th colspan="5" scope="colgroup">Capacites</th>
					<th rowspan="2">Action</th>
				</tr>
				<tr>
					<th>PV</th>
					<th>Attaque</th>
					<th>Defense</th>
					<th>Esquive</th>
					<th>Vitesse</th>
				<tr>
			</thead>
			<tbody>
				<tr th:each="item : ${items}">
					<td th:text="${ item.id}"></td>
					<td th:text="${ item.nom }"></td>
					<td th:text="${ item.prix}"></td>
					<td th:text="${ item.capacite.pointsDeVie}"></td>
					<td th:text="${ item.capacite.attaque}"></td>
					<td th:text="${ item.capacite.defense}"></td>
					<td th:text="${ item.capacite.esquive}"></td>
					<td th:text="${ item.capacite.vitesse}"></td>
					<td><a class="btn btn-primary"
						th:href="@{update(id=${item.id})}">Editer</a></td>
					<td><a class="btn btn-warning"
						th:href="@{delete(id=${item.id})}">Supprimer</a></td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>