Entrez votre username pour afficher vos combats : <input type="text" [(ngModel)]="combat.username" /><br/>

<p>Vous êtes {{ combat.username }} </p>

<button class="btn btn-success" (click)="connect()">
AFFICHER
</button>

<h1>Liste des combats</h1>

<!-- <span *ngIf="isConnecting"> -->
  <table class="table table-dark">
    <thead>
    <tr>
      <td>Tour</td>
      <td>Attaquant1</td>
      <td>Attaquant2</td>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let c of filtrerCombat()">
          <td>{{ c.tour }}</td>
          <td>{{ c.attaquant1.nom}}</td>
          <td>{{ c.attaquant2.nom}}</td>
      </tr>
    </tbody>
  </table>
<!-- </span> -->
