<h1>Liste des produits</h1>

<table>

<thead>
    <tr>
      <th>Nom</th>
      <th>Prix</th>
      <th>PV</th>
      <th>Attaque</th>
      <th>Vitesse</th>
      <th>Defense</th>
      <th>Esquive</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>

<tr *ngFor = "let i of getItems()">
      <td >{{i.nom}}</td>
      <td >{{i.prix}}</td>
      <td >{{i.capacite.pointsDeVie}}</td>
      <td >{{i.capacite.attaque}}</td>
      <td >{{i.capacite.vitesse}}</td>
      <td >{{i.capacite.defense}}</td>
      <td >{{i.capacite.esquive}}</td>
        <achat-row [item] = "i"></achat-row>
</tr>
  </tbody>
</table>
